<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="agentrecord.js"></script>
    <title>Document</title>
</head>
<body>
    <a href="index.ejs">Home</a>
    <h1 id="agent-name"></h1>
    <p>Total amount collectd:</p>
    <p id="total-amount"></p>
    <label>Commission percentage</label>
    <input type="number" id="percent-entry">
    <button id="calculate-commission-btn">Calculate</button>
    <p>Total Payout:</p>
    <p id="agent-payment"></p>
</body>
</html>