<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="index.js"></script>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Accounts</title>
</head>
<body>
    <header>

    </header>
    <button id="create-new-client" class="btn-primary"><a href="addnewclient.ejs" class="btn-primary">New Client</a></button>
    <span><a href="agents.ejs" class="nav m-4">Agents</a></span>
    <ol id="client-list" class="list-group">
        
    </ol>
</body>
</html>