<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script defer src="useremail.js"></script>
    <title>Your email</title>
</head>
<body>
    <p>Enter your email if you would like to notify your clients:</p> 
    <input type="email" id="email-input">
    <button id="email-btn" onclick="emailSave()" class="btn-success">Add Email</button>
</body>
</html>